//- script(src='../../bower_components/jquery/dist/jquery.min.js')
//- script(src='../../bower_components/bootstrap/dist/js/bootstrap.min.js')
//- script(src='js/main.js')

//- script(src='https://code.jquery.com/jquery-2.0.3.min.js')
//- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
//- script(src='js/main.js')