link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700,900,900i', rel='stylesheet')

link(rel='stylesheet', href='/bower_components/font-awesome/dist/css/font-awesome.min.css')
link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

// bootstrap checkbox y select
link(href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css', rel='stylesheet')
link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css')

link(rel='stylesheet', href='css/styles.css')
