.cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 500px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: white;
  overflow: hidden;
  background-image: url("images/home/slide2.jpg"); }

.search-box {
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  align-items: center;
  height: 120px; }
  .search-box p {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF; }

.search-box-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF; }

.jumbotron {
  background-color: #FFF;
  margin-bottom: 0; }

.custom-list {
  padding-top: 6px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif; }
  .custom-list a {
    color: #FFF;
    font-family: 'Montserrat', sans-serif; }

.box-searcher-results {
  margin-top: 20px; }

.well h1 {
  padding-left: 15px;
  margin-top: 0;
  font-size: 27px;
  font-family: 'Montserrat', sans-serif; }

a.list-group-item {
  height: auto;
  min-height: 220px; }

a.list-group-item.active small {
  color: #fff; }

.stars {
  margin: 20px auto 1px; }

.pull-left {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden; }
  .pull-left img {
    background-size: contain;
    width: 100%;
    height: 200px; }

h4.list-group-item-heading {
  font-size: 20px;
  padding-top: 10px; }

div.inline-block {
  display: inline-block; }

.inline-block {
  display: inline-block; }

p.inline-block {
  margin-top: 10px;
  font-size: 16px; }

#catalogue .container {
  padding-bottom: 30px; }

.title-catalogue {
  padding-top: 30px;
  padding-left: 15px;
  margin-top: 0;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif; }

.thumbnail {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden; }
  .thumbnail img {
    background-size: contain; }

h3 {
  padding-left: 15px; }

#catalogue .autofocus {
  padding-top: 20px; }

.cover-container {
  margin-top: 30px;
  margin-bottom: 30px; }

.jumbotron {
  padding-top: 20px; }

.resum-left p:first-child {
  padding-top: 25px; }

.resume-left p {
  font-size: 15px; }

#contact .navbar-default .navbar-brand {
  margin-top: 0;
  padding-left: 70px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 32px;
  display: inline; }
  #contact .navbar-default .navbar-brand a a:hover a:active a:link a:visited {
    color: #000; }
  #contact .navbar-default .navbar-brand small {
    color: #AAA;
    font-size: 27;
    padding-left: 20px;
    display: inline; }

nav.navbar.navbar-default {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #000;
  border: none;
  border-radius: 0; }

.collapse.navbar-collapse {
  padding-top: 15px;
  padding-right: 80px; }

.navbar-default .navbar-nav > li > a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #FFF; }

.header {
  display: inline; }

.inline {
  display: inline; }

.navbar-brand h1 {
  margin-top: 0;
  padding-left: 70px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 32px;
  display: inline a a; }
  .navbar-brand h1 :hover a:active a:link a:visited {
    color: #000; }
  .navbar-brand h1 small {
    padding-left: 20px; }

.navbar-right {
  color: #FFF; }

img {
  width: 90%;
  height: 200px !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.9); }

.logo-footer h6 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 22px; }

.list-footer ul {
  list-style-type: none;
  line-height: 25px; }

.list-footer ul li:first-child {
  font-weight: bold; }
