.cover {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 500px;
  justify-content: center;
  color: white;
  overflow: hidden; }

.container.home {
  left: 5%;
  position: absolute;
  top: 23%; }

.video-cover {
  min-height: 500px;
  max-height: 500px;
  object-fit: cover;
  width: 100%; }

@media (max-width: 768px) {
  .cover {
    background-image: none; } }

.search-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 70%;
  padding-bottom: 50px; }

.search-home {
  padding-left: 50px;
  padding-top: 20px; }
  .search-home p {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    padding-left: 10px; }

.advanced-option .btn {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  font-weight: bold; }

.advanced-option a:hover {
  background-color: #f0ad4e; }

div.checkboxes {
  padding-left: 70px; }

.checkboxes input {
  margin-right: 7px; }

.checkboxes label {
  margin-right: 15px; }

.custom-list {
  padding-top: 6px;
  color: #FFF;
  font-family: 'Roboto', sans-serif; }
  .custom-list a {
    color: #FFF;
    font-family: 'Roboto', sans-serif; }

span.glyphicon.glyphicon-search {
  color: white;
  padding-left: 10px;
  font-size: 20px; }

#home.search-container.navbar-form.form-group.btn.btn-default {
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
  padding-left: 10px; }

.well {
  padding-top: 0; }

.well h1 {
  padding-left: 15px;
  margin-top: 0;
  font-size: 27px;
  font-family: 'Roboto', sans-serif; }

.search-box.searcherbar {
  background-color: rgba(0, 0, 0, 0.9); }

.search-box {
  padding-top: 15px;
  padding-right: 100px;
  justify-content: center;
  align-items: center;
  height: 80px; }
  .search-box p {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    padding-left: 10px; }

div.list-group-item {
  height: auto;
  min-height: 220px; }

.pull-left {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden; }
  .pull-left img {
    background-color: #FFF;
    background-size: contain;
    width: 100%;
    height: 200px; }

h4.list-group-item-heading {
  font-size: 20px;
  padding-top: 0; }

p.inline-block.size {
  margin-top: 40px;
  font-size: 16px; }

.col-md-5 ul:nth-child(4) li {
  list-style-type: none; }

.right-column-options p:nth-child(4) {
  padding-left: 20px; }

.right-column-options .add-button {
  padding-top: 10px; }

#catalogue legend.h3 {
  padding-left: 15px;
  text-transform: uppercase; }

#catalogue .catpion a {
  color: #000 !important;
  text-decoration: none !important; }

#catalogue .btn-default.info {
  margin-left: 10px;
  display: wrap;
  justify-content: flex-end; }

#catalogue .container {
  padding-bottom: 30px; }

.title-catalogue {
  padding-top: 30px;
  padding-left: 15px;
  margin-top: 0;
  font-size: 30px;
  font-family: 'Roboto', sans-serif; }

.thumbnail {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: auto;
  overflow: hidden; }
  .thumbnail img {
    background-size: contain;
    margin-bottom: 15px; }

.caption h3 {
  padding-left: 15px; }

.caption p {
  min-height: 42px;
  padding-left: 15px; }

#catalogue .autofocus {
  padding-top: 30px; }

.zoomIt {
  display: block !important;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  -moz-transition: -moz-transform 0.1s ease-out;
  -o-transition: -o-transform 0.1s ease-out;
  -ms-transition: -ms-transform 0.1s ease-out;
  transition: transform 0.1s ease-out; }

.zoomIt:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.container.container-cover {
  padding-bottom: 30px; }

.well {
  box-shadow: none;
  background-color: #FFF;
  border: none; }

.row.list-resume {
  display: block; }

a.col-md-6.list-group-item.left-column {
  margin-top: 78px; }

.row.header-row {
  margin-bottom: 30px; }

figure.resume-image img {
  background-color: #FFF; }

.form-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-left: 30px; }

.bold {
  font-weight: bold; }

h2.inline-block {
  margin-top: 0;
  color: #333; }

h4.h4.inline-block.list-group-item-heading {
  padding-right: 10px;
  padding-left: 0; }

p.quantity .inline-block {
  margin-right: 10px; }

.price-resume p {
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 16px; }

p.total-price {
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 20px; }

.btn.remove {
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: #EF3054;
  padding-right: 0;
  text-decoration: underline; }

.btn.btn-warning {
  margin-top: 30px;
  margin-bottom: 30px; }

.panel-title {
  display: inline;
  font-weight: bold; }

.checkbox.pull-right {
  margin: 0; }

.pl-ziro {
  padding-left: 0px; }

#booking3 .container {
  margin-bottom: 40px; }

.cover-confirmed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 500px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: white;
  overflow: hidden;
  background-image: url("images/joao-silas-56055.jpg"); }
  .cover-confirmed p {
    color: #000;
    padding-left: 15px; }

#booking4 .cover-confirmed a {
  font-weight: bold;
  font-size: 15px;
  color: #000; }

#booking4 .cover-confirmed a:hover {
  text-decoration: underline; }

.cover-contact {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  color: white;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 20px; }

.form-group label {
  font-family: 'Roboto', sans-serif;
  color: #000; }

/*ANA ILETISIM*/
.anailetisim {
  background: #FFF;
  color: #000;
  padding-bottom: 30px; }

.anailetisim .iletisimform input {
  color: #795548;
  font: 300 16px 'Roboto',sans-serif;
  padding: 12px 18px;
  border-radius: 0px; }

.anailetisim .iletisimform select {
  background: #fff url("../resimler/selectbg.png") right 4px center no-repeat;
  color: #ccc;
  font: 300 16px 'Roboto',sans-serif;
  padding: 12px 18px;
  -webkit-appearance: inherit; }

.anailetisim .iletisimbilgi table td {
  vertical-align: top;
  color: #000;
  font-weight: 400;
  padding: 0 10px 40px 12px; }

#bike-info .row {
  padding-bottom: 20px; }

.thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 40px;
  border: none;
  box-shadow: none; }
  .thumbnail img {
    border-width: 0; }

.search-details.searcherbar {
  background-color: rgba(0, 0, 0, 0.9);
  margin-bottom: 30px; }

.search-details {
  display: flex;
  justify-content: center;
  align-items: center; }
  .search-details p {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    padding: 10px; }

#bike-info.checkbox {
  margin: 0; }

#bike-info .btn-warning {
  border: none; }

.bs-wizard {
  margin-top: 40px; }

/*Form Wizard*/
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0; }

.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative; }

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 12px;
  margin-bottom: 5px; }

.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px; }

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%; }

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #fbbd19;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px; }

.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0; }

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #fbe8aa; }

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%; }

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%; }

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%; }

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%; }

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5; }

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0; }

.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%; }

.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%; }

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none; }

/*END Form Wizard*/
body {
  font-family: 'Roboto', sans-serif; }

.h1-nav {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  margin-top: 0;
  padding-left: 50px;
  color: #FFFFFF;
  line-height: 0.8; }
  .h1-nav a a:hover a:active a:link a:visited {
    color: #000;
    text-decoration: none; }

.h1-footer {
  margin: 0;
  color: #DDD;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 22px;
  line-height: 0.8; }

.h1-search-home {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #FFF;
  font-style: italic;
  padding-left: 70px;
  padding-top: 20px; }

.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-top: 40px;
  padding-left: 10px;
  padding-bottom: 30px;
  margin-top: 0;
  color: #000; }
  .h2 .subtitle-h2 {
    font-size: 18px;
    margin-left: 15px; }

.h3 {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 700; }

.h3-price-search {
  margin-top: 5px;
  margin-bottom: 25px;
  padding-right: 5px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700; }

.h3-price-search-detail {
  padding-left: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 700; }

.h4 {
  padding-left: 15px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px; }

.inline-block {
  display: inline-block; }

.form-control {
  border-radius: 0; }

nav.navbar.navbar-default {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #000;
  border: none;
  border-radius: 0; }

.collapse.navbar-collapse {
  padding-top: 15px;
  padding-right: 80px; }

.navbar-default .navbar-nav > li > a {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #FFF; }

.navbar-right {
  color: #FFF; }

img {
  width: 90%;
  height: 200px !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.9); }

.list-footer ul {
  padding-top: 10px;
  color: #DDD;
  list-style-type: none;
  line-height: 25px; }

.list-footer ul li:first-child {
  color: #DDD;
  font-weight: bold; }
