html(lang='en')
  head
    meta(charset='UTF-8', name="viewport" content="width=device-width, initial-scale=1.0")
    title New Horizon Bike Rental
    include includes/styles
  body(id=idPage)
    include includes/navbar
    block content
    include includes/footer
    include includes/scripts
