.footer
  .container
    .row
      .logo-footer.col-xs-12.col-sm-3
        a.navbar-brand(href='/')
          h1.h1-footer
            | NEW HORIZON
            br
            small rent a bike
      .list-footer.col-xs-12.col-sm-3
        ul.custom-list
          li MENU
          li
            a(href='/catalogue') Catalogue
          // <li><a href='routes.html'>Routes</a></li>
          li
            a(href='/contact') Contact
      .list-footer.col-xs-12.col-sm-3
        ul.custom-list
          li FOLLOW
          li
            a(href='https://www.facebook.com/newHorizonBikesRental') Facebook
      .col-xs-12.col-sm-3
        form.inline-block.navbar-form
          .form-group
            input.form-control(type='text', placeholder='Search')
          a(href='search-result')
            span.glyphicon.glyphicon-search(aria-hidden='true')
