//- LIBS
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js')
script(src='/bower_components/bootstrap-select/js/bootstrap-select.js')

//- CUSTOM JS
script(src='/js/main.js')
