link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700,900,900i', rel='stylesheet')

link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css')
link(rel='stylesheet', href='/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css')

link(rel='stylesheet', href='css/styles.css')
