<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
    <link rel="stylesheet" , href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' , href='../../client/css/styles.css'>
</head>

<body>
    <!-- navigator bar -->
    <nav class="navbar nav-style">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href='#'>Booking Online</a></li>
                    <li><a href='#'>Bikes</a></li>
                    <li><a href='#'>Routes</a></li>
                    <li><a href='#'>Where we are</a></li>
                    <li><a href='#'>Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- @end navigator bar -->
    <!-- @begin header-->
    <div class='header'>
        <h6>NEW HORIZON<small>rent a bike</small></h6>
    </div>
    <!-- @end header -->
    <!-- @begin cover and searcher -->
    <div class='cover'>
        <div>
            <!--             <div class='cover-left'>
                <p>Rent your bike!</p>
            </div> -->
            <div class='flex-container search-box'>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <p>Pick-Up</p>
                        <input type="text" class="form-control input-lg" placeholder="21/08/17  9:00">
                        <button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <p>Drop-Off</p>
                        <input type="text" class="form-control input-lg" placeholder="21/08/17  19:00">
                        <button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- @end cover and searcher -->
    <!-- @begin post cover -->
    <div class='post-cover'>
        <div class='container'>
            <div class="row row-gallery">
                <div class='gallery-home col-md-offset-1.5 col-md-3 col-md-offset-1.5'>
                    <div>
                        <div class='square-photo'>
                            <img style="">
                            <!-- <img style="background-image: url(../../client/css/images/home/map_icon.png)"> -->
                            <h3>Routes</h3>
                        </div>
                    </div>
                </div>
                <div class='col-md-offset-1.5 col-md-3 col-md-offset-1.5'>
                    <div class='gallery-home'>
                        <div class='square-photo'>
                            <img style="">
                            <!-- <img style="background-image: url(../../client/css/images/home/kross_vento7.png)"> -->
                            <h3>Catalogue</h3>
                        </div>
                    </div>
                </div>
                <div class='col-md-offset-1.5 col-md-3 col-md-offset-1.5'>
                    <div class='gallery-home'>
                        <div class='square-photo'>
                            <img style="">
                            <h3>Booking</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- @end post cover -->
    <div class='footer'>
        <div class='container'>
            <div class='row'>
                <div class='logo-footer col-sm-4 col-md-3'>
                    <h6>NEW HORIZON<br><small>rent a bike</small></h6>
                </div>
                <div class='list-footer col-sm-4 col-md-3'>
                    <ul>
                        <li>MENU</li>
                        <li><a href='#'>Booking Online</a></li>
                        <li><a href='#'>Bikes</a></li>
                        <li><a href='#'>Routes</a></li>
                        <li><a href='#'>Where we are</a></li>
                        <li><a href='#'>Contact</a></li>
                    </ul>
                </div>
                <div class='col-sm-4 col-md-3'>
                    <ul>
                        <li>FOLLOW</li>
                        <li><a href='#'>Facebook</a></li>
                    </ul>
                </div>
                <div class='col-sm-4 col-md-3'>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- @begin footer -->
    <!-- @end footer -->
    <script src='https://code.jquery.com/jquery-2.0.3.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src='../../client/js/main.js'></script>
</body>

</html>