.container.container-cover {
	padding-bottom: 30px;
}

.well {
	box-shadow: none;
	background-color: #FFF;
	border: none;
}

figure.resume-image img {
	background-color: #FFF;
}

.form-title {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding-left: 30px;
}

.bold {
	font-weight: bold;
}

h2.inline-block {
	margin-top: 0;
	color: #333;
}

h4.h4.inline-block.list-group-item-heading {
	padding-right: 10px;
	padding-left: 0;
}

p.quantity .inline-block {
	margin-right: 10px;
}


.price-resume p {
	padding-top: 8px;
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	font-size: 16px;
}

p.total-price {
	padding-top: 40px;
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	font-size: 20px;
}

// BUTTON BOOKING STEP 1
.btn.remove {
	font-weight: bold;
	background-color: transparent;
	border: none;
	color: #EF3054;
	padding-right: 0;
	text-decoration: underline;
}

.btn.btn-warning {
	margin-top: 30px;
	margin-bottom: 30px;
}

// PAYMENT STYLES BOOKING STEP 3
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }

#booking3 .container {
	margin-bottom: 40px;
}

// CONFIRMATION PAGE BOOKING STEP 4
.cover-confirmed {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    overflow: hidden;
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
	color: white;
	overflow: hidden;
	background-image: url('images/joao-silas-56055.jpg');
	p {
		color: #000;
		padding-left: 15px;
	}
}

#booking4 .cover-confirmed a {
	font-weight: bold;
	font-size: 15px;
	color: #000;
}	

#booking4 .cover-confirmed a:hover {
	text-decoration: underline;
}
