.container.container-cover {
	padding-bottom: 30px;
}

.well {
	background-color: #FFF;
	border: none;
}

figure.resume-image img {

}

.form-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	padding-left: 30px;
}

.bold {
	font-weight: bold;
}

.remove-button {
	display: wrap;
	align-items: flex-end;

}