#catalogue legend.h3 {
	margin-bottom: 30px;
	padding-left: 15px;
}

#catalogue .catpion a {
	color: #000 !important; 
	text-decoration: none !important;
}

// CATALOGUE CONTENT
#catalogue .container {
	padding-bottom: 30px;
}

.title-catalogue{
	padding-top: 30px;
	padding-left: 15px;
	margin-top: 0;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}

// THUMBNAIL PRODUCT
.thumbnail {
	width: 100%;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    overflow: hidden;
    img {
    	background-size: contain;
    	margin-bottom: 15px;
    }
}

.caption h3 {
	padding-left: 15px;
}

.caption p {
	padding-left: 15px;
}

#catalogue .autofocus {
	padding-top: 30px;
}
