#catalogue legend.h3 {
	padding-left: 15px;
}

#catalogue .catpion a {
	color: #000 !important; 
	text-decoration: none !important;
}

#catalogue .btn-default.info {
	display: wrap;
	justify-content: flex-end;
}

// CATALOGUE CONTENT
#catalogue .container {
	padding-bottom: 30px;
}

.title-catalogue{
	padding-top: 30px;
	padding-left: 15px;
	margin-top: 0;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}

// THUMBNAIL PRODUCT
.thumbnail {
	width: 100%;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    width: auto;
    overflow: hidden;
    img {
    	background-size: contain;
    	margin-bottom: 15px;
    }
}

.caption h3 {
	padding-left: 15px;
}

.caption p {
	padding-left: 15px;
}

#catalogue .autofocus {
	padding-top: 30px;
}

// IMAGES EFECTS
.zoomIt{
display:block!important;
-webkit-transition:-webkit-transform 0.1s ease-out;
-moz-transition:-moz-transform 0.1s ease-out;
-o-transition:-o-transform 0.1s ease-out;
-ms-transition:-ms-transform 0.1s ease-out;
transition:transform 0.1s ease-out;
}
.zoomIt:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}