.cover-contact {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    // height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: white;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 20px;
    // background-image: url('images/home/slide3.jpg');
    // background-color: rgba(255,255,255,0.4);
    // background-blend-mode: overlay;
}

.form-group label {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

// #contact .h2.inline-block {
//     color: #FFF;
// }

// TEMPLATE CONTACT
/*ANA ILETISIM*/
.anailetisim {background: #FFF;color:#000;padding-bottom:30px;}
.anailetisim .iletisimform input{color:#795548;font:300 16px 'Roboto',sans-serif;padding:12px 18px;border-radius: 0px;}
.anailetisim .iletisimform select {background: #fff url('../resimler/selectbg.png') right 4px center no-repeat;color:#ccc;font:300 16px 'Roboto',sans-serif;padding:12px 18px;-webkit-appearance: inherit;}
.anailetisim .iletisimbilgi table td {vertical-align:top; color:#000; font-weight:400; padding:0 10px 40px 12px; }

