.cover-contact {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: white;
    overflow: hidden;
    // background-image: url('images/home/slide3.jpg');
    // background-color: rgba(255,255,255,0.4);
    // background-blend-mode: overlay;
}

.form-group label {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
