#contact .navbar-default .navbar-brand {
	margin-top: 0;
	padding-left: 70px;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 32px;
	display: inline;
	a a:hover a:active a:link a:visited{
		color: #000;
	}
	small {
		color: #AAA;
		font-size: 27;
		padding-left: 20px;
		display: inline;
	}
}