.cover {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    min-height: 700px;
    justify-content: center;
    color: #000;
    background-image: url(/images/cover-home2.jpg);
}

.container.home {
    left: 5%;
    position: absolute;
    top: 23%;
}

/*.video-cover {
    min-height: 500px;
    max-height: 500px;
    object-fit: cover;
    width: 100%; // opacity: 0.9;
}
*/
/*
@media(max-width: 768px) {
    .cover {
        background-image: none;
    }
}
*/
// .search-home {
//  padding-top: 10px;
//  padding-right: 100px;
//  justify-content: center;
//  align-items: center;
//  height: 120px;
//  p {
//      font-weight: bold;
//      text-transform: uppercase;
//      color: #FFF;
//      padding-left: 10px;
//  }
// }
.search-container {
    background-color: rgba(192, 227, 78, 1);
    width: 70%;
    padding-bottom: 50px;
}

.search-home {
    padding-left: 50px;
    padding-top: 20px;
    p {
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        padding-left: 10px;
    }
}

div.checkboxes {
    padding-top: 20px;
    padding-left: 10px;
}

.checkboxes input {
    margin-right: 7px;
}

.checkboxes label {
    margin-right: 15px;
}

.custom-list {
    padding-top: 6px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    a {
        color: #FFF;
        font-family: 'Roboto', sans-serif;
    }
}

span.glyphicon.glyphicon-menu-right {
    color: #000;
    font-weight: bold;
}

.btn-default {
    height: 20px;
    border-radius: 0px;
    height: 34px;
}

span.glyphicon.glyphicon-search {
    color: white;
    padding-left: 10px;
    font-size: 20px;
}

#home.search-container.navbar-form.form-group.btn.btn-default {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    padding-left: 10px;
}
