@import 'home';
@import 'searcher';
@import 'catalogue';
@import 'booking';
@import 'contact';

// nav {
// 	padding-left: 30px;
// 	.nav-style {
// 		background-color: transparent;
// 		border-color: none;
// 	}
// }

// nav.navbar.nav-style {
// 	padding-left: 30px;
// 	background-color: transparent;
// 	border-color: none;
// 	margin-bottom: 0;
// }

nav.navbar.navbar-default {
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 30px;
	background-color: #000;
	border: none;
	border-radius: 0;
}

.collapse.navbar-collapse {
	padding-top: 15px;
	padding-right: 80px;
}

.navbar-default .navbar-nav>li>a {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #FFF;
}

.header {
	display: inline;
}

.inline {
	display: inline;
}

.navbar-brand h1{
	margin-top: 0;
	padding-left: 70px;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 32px;
	display: inline
	a a:hover a:active a:link a:visited{
		color: #000;
	}
	small {
		padding-left: 20px;
	}
}

.navbar-right {
	color: #FFF;
}

img {
	width: 90%;
  	height: 200px !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgba(0, 0, 0, 0.9);
}

.logo-footer h6 {
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 22px;
}

.list-footer ul {
	list-style-type: none;
	line-height: 25px;
}

.list-footer ul li:first-child {
	font-weight: bold;
}

