extends ../layout

block content

  .resume
  .container
    .row
      .well
        h2.col-xs-12.col-md-6.inline-block.h2 Step 2: Personal information
        // chekout bar
        .col-xs-12.col-md-6.container
          .row.bs-wizard(style='border-bottom:0;')
            .col-xs-3.bs-wizard-step.complete
              .text-center.bs-wizard-stepnum Step 1
              .progress
                .progress-bar
              a.bs-wizard-dot(href='/step_1')
              .bs-wizard-info.text-center Resume
            .col-xs-3.bs-wizard-step.complete
              // complete
              .text-center.bs-wizard-stepnum Step 2
              .progress
                .progress-bar
              a.bs-wizard-dot(href='/step_2')
              .bs-wizard-info.text-center Personal information
            .col-xs-3.bs-wizard-step.active
              // complete
              .text-center.bs-wizard-stepnum Step 3
              .progress
                .progress-bar
              a.bs-wizard-dot(href='/step_3')
              .bs-wizard-info.text-center Payment
            .col-xs-3.bs-wizard-step.disabled
              // active
              .text-center.bs-wizard-stepnum Step 4
              .progress
                .progress-bar
              a.bs-wizard-dot(href='/step_4')
              .bs-wizard-info.text-center Confirmation
        // chekout bar
    div
    form.form-horizontal(action="/clientInfo", method='POST')
      fieldset
        // Form Name
        // Text input
        .form-group
          label.col-md-4.control-label(for='name') Name *
          .col-md-4
            input#name.form-control.input-md(name='name', type='text', placeholder='', required='')
        // Text input
        .form-group
          label.col-md-4.control-label(for='surname') Surname *
          .col-md-4
            input#surname.form-control.input-md(name='surname', type='text', placeholder='', required='')
        // Text input
        .form-group
          label.col-md-4.control-label(for='phoneNumber') Phone Number 
          .col-md-4
            input#contact.form-control.input-md(name='phoneNumber', type='text', placeholder='', required='')
        // Text input
        .form-group
          label.col-md-4.control-label(for='email') Email Address *
          .col-md-4
            input#email.form-control.input-md(name='email', type='text', placeholder='', required='')
        // Text input
        .form-group
          label.col-md-4.control-label(for='country') Country *
          .col-md-4
            input#country.form-control.input-md(name='country', type='text', placeholder='')
        // Text input
        .form-group
          label.col-md-4.control-label(for='hotel') Hotel
          .col-md-4
            input#hotel.form-control.input-md(name='hotel', type='text', placeholder='')
        // Textarea
        .form-group
          label.col-md-4.control-label(for='comments') Comments
          .col-md-4
            textarea#comments.form-control(name='comments')
      button.btn.btn-warning.col-md-offset-4.col-md-4 Payment
