extends ../layout

block content

  .cover-confirmed
      .container
        .row
          .col-md-6.col-offset-3
            h2.h2 Booking confirmed!
            p
              | Your reservation has been processed correctly, you will shortly receive a confirmation email.
            a.btn(href='home.html', role='button') Back home