extends ../layout

block content

  .cover
    //- video.inline-block.video-cover(src='/video/cover2.mp4', autoplay='', loop='')
    .container.home
      .row
        .search-container.col-xs-12.col-md-8
          h1.h1-search-home Find your bike in Alcudia now!
          .search-home
            form.navbar-form.navbar-left(role='search' action='/search-results' method='GET')
              .form-group
                p.inline-block Pick-Up
                input.form-control(name='pickdate' type='date', placeholder='21/08/17  9:00')
              .form-group
                p.inline-block Drop-Off
                input.form-control(name='dropdate' type='date', placeholder='21/08/17  19:00')
                button.btn.btn-default
                  span.glyphicon.glyphicon-menu-right(aria-hidden="true")
                  span.glyphicon.glyphicon-menu-right(aria-hidden="true")
              .checkboxes
                label
                  input(type='checkbox', name='filter_road', value='1')
                  | Road
                label
                  input(type='checkbox', name='filter_mountain', value='1')
                  | Mountain
                label
                  input(type='checkbox', name='filter_trekking', value='1')
                  | Trekking
                label
                  input(type='checkbox', name='filter_city', value='1')
                  | City
                label
                  input(type='checkbox', name='filter_ebike', value='1')
                  | E-Bike
        .col-md-4
