extends ../layout

block content

  .searcher
    .flex-container.search-box.searcherbar
      form.navbar-form.navbar-right(role='search')
        .form-group
          p.inline-block Pick-Up
          input.form-control(type='date', placeholder='21/08/17  9:00')
        .form-group
          p.inline-block Drop-Off
          input.form-control(type='date', placeholder='21/08/17  19:00')
          a(href='/search-result')
            span.glyphicon.glyphicon-search(aria-hidden='true')
  .box-searcher-results
    .container
      .row
        .well
          h2.h2.inline-block
            | Search Result 
            span.subtitle-h2 12/09/17 to 20/09/17
          .inline-block.pull-right
            p.inline-block.size Filter by
            input(id='road' type='checkbox', data-toggle='toggle', value='road', data-on='road', data-off='road')
            input(id='mountain' type='checkbox', data-toggle='toggle', value='mountain', data-on='mountain', data-off='mountain')
            input(id='trekking' type='checkbox', data-toggle='toggle', value='trekking', data-on='trekking', data-off='trekking')
            input(id='city' type='checkbox', data-toggle='toggle', value='city', data-on='city', data-off='city')
            input(id='e-bike' type='checkbox', data-toggle='toggle', value='e-bike', data-on='e-bike', data-off='e-bike')
          .list-group
            .row
              each bike in bikes
                .list-group-item
                  .media.col-md-3
                    figure.pull-left
                      img.media-object.img-rounded.img-responsive(style='background-image: url(' + bike.image + ')')
                  .col-md-5
                    h3.h3.list-group-item-heading #{ bike.title }
                    span.bold Category: 
                    p #{ bike.category }
                    span.bold Description:
                    p #{ bike.description }
                  .right-column-options.col-md-4
                    div
                      h3.h3-price-search 75€
                    p.inline-block Size:
                    select
                      option(value='', selected='', disabled='') ...
                      option 50 / XS
                      option 53 / S
                      option 56 / M
                      option 58 / L
                      option 60 / XL
                    p.inline-block Pedals:
                    select
                      option(value='', selected='', disabled='') ...
                      option Own pedals
                      option
                        | Shimano SPD 
                        strong 1€/day
                      option
                        | Shimano SPL 
                        strong 1€/day
                      option
                        | Look Kio 
                        strong 1€/day
                    .checkbox
                      label
                        input(type='checkbox')
                        | Insurance 
                        strong 1€/day
                    .add-button.text-center
                      button.btn.btn-primary.btn-block(type='button') Add to card
                